<template>
  <v-app>
    <main>
      <v-autocomplete
        class="auto"
        v-model="select"
        :items="items"
        :search-input.sync="search"
        label="Selecciona aeropuerto"
        hide-no-data
      />
      <div class="map" ref="chartdiv"></div>
      <v-list class="table">
        <v-list-group
          v-for="(item, idx) in airportsData"
          :key="idx"
          v-model="item.active"
          no-action
        >
          <template v-slot:activator>
            <CountryFlag :country="item.flag" size="normal" />
            <v-list-item-content>
              <v-list-item-title
                v-text="item.country"
                @click="!item.active && goToCountry(item.country)"
              />
            </v-list-item-content>
          </template>

          <v-list-item v-for="(airport, idx) in item.airports" :key="idx">
            <v-list-item-content>
              <v-list-item-title>
                <a :href="airport.url">{{ airport.city }}</a>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </main>
  </v-app>
</template>

<script>
import * as am4core from "@amcharts/amcharts4/core";
import * as am4maps from "@amcharts/amcharts4/maps";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";
import am4geodata_worldUltra from "@amcharts/amcharts4-geodata/worldUltra";
import airportsData from "@/assets/airports.json";
import CountryFlag from "vue-country-flag";

am4core.useTheme(am4themes_animated);

export default {
  name: "App",
  components: { CountryFlag },
  data() {
    return {
      select: null,
      search: "",
      map: null,
      countries: null,
      lastSelected: null,
      airports: null,
      airportsData,
    };
  },
  watch: {
    select(val) {
      val &&
        this.goToCountry(
          this.allAirports.filter((el) => el.title === val)[0].country
        );
    },
  },
  computed: {
    allAirports() {
      const all = [];
      this.airportsData.forEach((country) => all.push(...country.airports));
      return all;
    },
    allAirportTitles() {
      return this.allAirports.map((each) => each.title);
    },
    items() {
      if (!this.search) return this.allAirportTitles;
      return this.allAirportTitles.filter(
        (el) =>
          el !== this.select &&
          el.toLowerCase().includes(this.search.toLowerCase())
      );
    },
  },
  methods: {
    initMap() {
      if (!this.map) {
        this.map = am4core.create(this.$refs.chartdiv, am4maps.MapChart);
        this.map.geodata = am4geodata_worldUltra;
        this.map.projection = new am4maps.projections.Miller();
        this.enableZoom();
        this.drawCountries();
      }
    },
    enableZoom() {
      this.map.zoomControl = new am4maps.ZoomControl();

      let homeButton = new am4core.Button();
      homeButton.events.on("hit", () => {
        this.select = null;
        this.clearSelection();
        this.map.goHome();
      });

      homeButton.icon = new am4core.Sprite();
      homeButton.padding(7, 5, 7, 5);
      homeButton.width = 30;
      homeButton.icon.path =
        "M16,8 L14,8 L14,16 L10,16 L10,10 L6,10 L6,16 L2,16 L2,8 L0,8 L8,0 L16,8 Z M16,8";
      homeButton.marginBottom = 10;
      homeButton.parent = this.map.zoomControl;
      homeButton.insertBefore(this.map.zoomControl.plusButton);
    },
    drawCountries() {
      let polygonSeries = this.map.series.push(new am4maps.MapPolygonSeries());
      polygonSeries.useGeodata = true;
      polygonSeries.exclude = ["AQ"]; // Hide Antarctica

      this.countries = polygonSeries.mapPolygons.template;
      this.countries.applyOnClones = true;
      this.countries.togglable = true;
      this.countries.tooltipText = "{name}";
      this.countries.nonScalingStroke = true;
      this.countries.strokeOpacity = 0.5;
      this.countries.fill = this.map.colors.getIndex(0);
      this.countries.polygon.fillOpacity = 0.6;

      this.createStates();

      this.countries.events.on("inited", (ev) => {
        this.setAvailability(ev.target);
      });

      this.countries.events.on("hit", (ev) => {
        this.handleCountryClicks(ev.target);
      });
    },
    createStates() {
      let active = this.countries.states.create("active");
      active.properties.fill = this.map.colors.getIndex(6);

      let hover = this.countries.states.create("hover");
      hover.properties.fill = this.map.colors.getIndex(4);

      let available = this.countries.states.create("available");
      available.properties.fill = this.map.colors.getIndex(2);
    },
    setAvailability(country) {
      airportsData.forEach((el) => {
        if (country.dataItem._dataContext.name === el.country) {
          country.setState("available");

          country.events.onAll(() => {
            if (!country.isActive && !country.isHover) {
              country.setState("available");
            }
          });
        }
      });
    },
    clearSelection() {
      /* Desmarca el país anteriormente clicado (si lo hubiera) */
      if (this.lastSelected) {
        this.lastSelected.isActive = false;
      }
      /* Elimina los puntos de los aeropuertos ya pintados (si los hubiera) */
      while (this.map.series.length > 1) {
        this.map.series.removeIndex(this.map.series.length - 1);
      }
    },
    saveSelected(country) {
      if (this.lastSelected !== country) {
        this.lastSelected = country;
      }
    },
    drawAirports(country) {
      this.airports = this.map.series.push(new am4maps.MapImageSeries());
      this.airports.mapImages.template.propertyFields.longitude = "longitude";
      this.airports.mapImages.template.propertyFields.latitude = "latitude";
      this.airports.mapImages.template.tooltipText = "{title}";
      this.airports.mapImages.template.propertyFields.url = "url";

      let circle = this.airports.mapImages.template.createChild(am4core.Circle);
      circle.radius = 2;
      circle.properties.fill = am4core.color("yellow");

      let circle2 = this.airports.mapImages.template.createChild(
        am4core.Circle
      );
      circle2.radius = 2;
      circle2.properties.fill = am4core.color("yellow");

      circle2.events.on("inited", (ev) => {
        this.animateBullet(ev.target);
      });

      this.airports.data = this.getDataForCountry(country);
      this.handleAirportClicks();
    },
    animateBullet(circle) {
      var animation = circle.animate(
        [
          { property: "scale", from: 1, to: 3 },
          { property: "opacity", from: 1, to: 0 },
        ],
        1000,
        am4core.ease.circleOut
      );
      animation.events.on("animationended", (ev) => {
        this.animateBullet(ev.target.object);
      });
    },
    getDataForCountry(country) {
      let found = this.airportsData.filter((item) => item.country === country);
      return found[0] && found[0].airports;
    },
    goToCountry(country) {
      let mapObject = this.map.series.values[0].dataItems.values.filter(
        (el) => {
          return el.mapObject.dataItem._dataContext.name === country;
        }
      )[0].mapObject;

      this.handleCountryClicks(mapObject);
      mapObject.isActive = true;

      this.drawAirports(mapObject.dataItem._dataContext.name);
    },
    goToAirport(url) {
      window.location.href = url;
    },
    handleCountryClicks(mapObject) {
      this.clearSelection();
      this.saveSelected(mapObject);
      this.map.zoomToMapObject(mapObject);
      this.drawAirports(mapObject.dataItem._dataContext.name);
    },
    handleAirportClicks() {
      this.airports.mapImages.template.events.on("hit", (ev) => {
        window.location.href = this.goToAirport(
          ev.target.dataItem._dataContext.url
        );
      });
    },
    removeAmChartsLogo() {
      const titles = document.querySelectorAll("title");
      titles[titles.length - 1].closest("g").remove();
    },
  },
  mounted() {
    this.initMap();
    this.removeAmChartsLogo();
  },
  beforeDestroy() {
    if (this.map) {
      this.map.dispose();
    }
  },
};
</script>
<style scoped>
.auto {
  width: 50%;
  margin: 10px auto;
}
.map {
  width: 60%;
  height: 500px;
  margin: 30px auto;
}
.table {
  width: 20%;
  margin: 0 auto;
}
a {
  color: #000 !important;
  text-decoration: none;
}
</style>
